.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.footer a {
  color: var(--gray-200);
  display: inline-flex;
  align-items: center;
}

.footer a:hover {
  color: var(--gray-400);
}

.separator {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  color: var(--gray-200);
  font-weight: 600;
}
