.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 0;
  user-select: none;
  color: var(--heading);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
}

.wiki {
  font-family: var(--font-family-mono);
  font-weight: 600;
  text-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
}

.palette {
  font-weight: 300;
}
