.palette {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.palette label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.infoBtn {
  cursor: pointer;
}

.infoText {
  margin-top: -0.5em;
  margin-bottom: 0;
}

.paletteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorBox {
  border: transparent;
  width: 120px;
  height: 120px;
}

.btnContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: var(--transition);
}

.paletteContainer div:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.paletteContainer div:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
  margin-left: -1px;
}

.paletteContainer div:not(:last-child) {
  border-right: none;
}

.paletteContainer div:only-child {
  border-radius: 0.5rem;
  margin-left: 0;
}
