.summary {
  margin-top: 1em;
}

.summary h5 {
  margin-bottom: 1rem;
  text-align: center;
}

.summary p {
  margin: 1rem 0;
  max-width: 100%;
}

.imgSummary {
  border: transparent;
  border-radius: var(--border-radius-sm);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-height: 40vh;
}

.externalLink {
  display: flex;
  align-items: center;
  width: fit-content;
}
