@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  background: var(--background);
  transition: background 0.3s ease-in-out;
}

:root {
  /* fonts */
  --font-family: "IBM Plex Sans", sans-serif;
  --font-family-mono: "IBM Plex Mono", monospace;
  --small: 0.75em;

  /* custom palette */
  --background: #fffffe;
  --alt-background: #faf8f6;
  --alt-background-hover: #e5e7eb;
  --alt-background-active: #d1d5db;
  --heading: #232323;
  --paragraph: #222525;
  --placeholder: #6b7280;
  --link: #235d86;
  --button-bg: rgba(250, 250, 250, 0.25);
  --button-bg-subtle: rgba(250, 250, 250, 0.1);
  --button-text: var(--paragraph);
  --button-padding: 0.35rem 0.6rem;
  --border-subtle: rgba(128, 128, 128, 0.3);

  /* gray */
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;

  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  /* remaining variables */
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --border-radius-lg: 0.75rem;
  --border-radius-md: 0.5rem;
  --border-radius-sm: 0.25rem;
  --transition: 0.1s ease-in-out all;
  --transition-color: color 0.3s ease-in-out;
  --fixed-width: 600px;
  --fluid-width: 90vw;
}

:root.dark {
  --heading: #f9fafb;
  --paragraph: #f3f4f6;
  --placeholder: #9ca3af;
  --link: #93c5fd;
  --alt-background: #212121;
  --alt-background-hover: #374151;
  --alt-background-active: #4b5563;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.75;
  color: var(--paragraph);
  transition: var(--transition-color);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
  color: var(--paragraph);
  transition: var(--transition-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1.3;
  color: var(--heading);
  transition: var(--transition-color);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--link);
  transition: var(--transition);
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: scale-down;
}

.card {
  padding: 5%;
  border: transparent;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-2);
}

:root.very-dark .card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px -1px rgb(255 255 255 / 0.1),
    0 2px 4px -2px rgb(255 255 255 / 0.1);
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: var(--button-padding);
  border: transparent;
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
  box-shadow: var(--shadow-1);
}

.btn:hover {
  background-color: var(--button-bg-subtle);
  box-shadow: var(--shadow-2);
}

.btn-alt {
  background-color: rgba(0, 0, 0, 0.35);
  color: var(--gray-200);
}

.btn-alt:hover {
  background-color: rgba(50, 50, 50, 0.65);
}

.btn-switch {
  background-color: var(--button-bg-subtle);
}

.btn-switch:hover {
  background-color: var(--button-bg);
}

.alert {
  padding: 0.375rem 0.75rem;
  text-align: center;
  border-color: transparent;
  margin-top: 1rem;
  margin-bottom: -1rem;
  border-radius: var(--border-radius-lg);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

.form-label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--paragraph);
  transition: var(--transition-color);
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--alt-background-hover);
  border-radius: var(--border-radius-lg);
  background: var(--alt-background);
  color: var(--paragraph);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

::placeholder {
  font-family: inherit;
  color: var(--placeholder);
  transition: var(--transition-color);
}

.hidden {
  display: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 2rem;
  height: 2rem;
  border: 4px solid var(--gray-400);
  border-radius: 50%;
  border-top-color: var(--gray-200);
  animation: spinner 0.6s linear infinite;
}

.loading-center {
  margin: 0 auto;
}
